.contianmainProd{
    min-height: 680px;
    display: flex;
    flex-direction: row;

    margin-top: 10px;
    width: 1200px;
    margin-bottom: 20px;
}
.divmain{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.firstHalfprod{
    display: flex;
    flex-direction:column;
    margin-right: 20px;
}
.mainImageCont{
    height: 550px;
    width: 650px;
    overflow: hidden;
}
.mainImage,.subImage{
    object-fit: cover;
    object-position: center;
}
.subImageCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.subImagesubCont{
    height: 100px;
    width: 120px;
    overflow: hidden;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
}
.subImage{
    object-fit: cover;
    object-position: center;
}
.prodTitle{
    word-break: break-all;
    font-size: 25px;
    font-weight: bold;
}
.prodPrice{
    font-size: 25px;
}
.secondHalfprod{
    margin-right: 10px;
}
.buttonGroupClass{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.messageBut{
    background-color: #800000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.reportBut{
    background-color:white;
    color: #800000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #800000;
}
.containInfo{
    width: 100%;
    word-break: break-all;
    max-height: 700px;
    overflow: auto;
    margin-top: 5px;
    min-height: 450px;
}
.PurchProd{
    background-color: #800000;
    color: white;
    padding: 10px 0px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.containInfo::-webkit-scrollbar {
    width: 2px;
    display:block;
  }
  
  .containInfo::-webkit-scrollbar-thumb {
    @apply bg-primary-color;
  }

