.EditLrContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}
.MainimageFit{
    height: 500px;
    width: 600px;
}
.mainImage{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.addMainPhotoBut{
    background-color: #800000c4;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    margin-top: -100px;
    cursor: pointer;
}
.subImageCont{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.subImageFit{
    height: 100px;
    width: 120px;
    margin-right: 10px;
}
.subImage{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
    border-radius: 3px;
}
.addsubImage{
    color: white;
    background-color: #800000c4;
    padding: 3px 10px;
    border-radius: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
    cursor: pointer;
}
.formInputStyle{
    width: 400px;
    font-size: 15px;
    padding: 5px;
}
.formNamestyle{
    font-weight: bold;
    color: #800000c4;
    font-size: 18px;
}
.formTextAreastyle{
    width: 400px;
    font-size: 15px;
    padding: 5px;
    height: 100px;
}
.formContMarg{
    margin-bottom: 5px;
}