.EditLrContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
}
.MainimageFit{
    height: 500px;
    width: 600px;
}
.mainImage{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.addMainPhotoBut{
    background-color: #800000c4;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -100px;
    margin-bottom: 50px;
}
.subImageCont{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.subImageFit{
    height: 100px;
    width: 120px;
    margin-right: 10px;
}
.subImage{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
    border-radius: 3px;
}
.addsubImage{
    color: white;
    background-color: #800000c4;
    padding: 3px 10px;
    border-radius: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: -60px;
}
.formInputStyle{
    width: 400px;
    font-size: 15px;
    padding: 5px;
}
.formNamestyle{
    font-weight: bold;
    color: #800000c4;
    font-size: 18px;
}
.formTextAreastyle{
    width: 400px;
    font-size: 15px;
    padding: 5px;
    height: 100px;
}
.formContMarg{
    margin-bottom: 5px;
}
.cancelBut{
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    width: 195px;
    border-radius: 5px;
    background-color: #800000c4;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.doneBut{
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    width: 195px;
    border-radius: 5px;
    background-color: #027A48;
    cursor: pointer;
    text-align: center;
}
.changeDistance{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scrollDiv{
    height: 100vh;
    overflow-y: auto;
    margin-top: 120px;
}
.contMainSub{

}

.scrollDiv::-webkit-scrollbar {
    width: 8px; 
  }
  
  .scrollDiv::-webkit-scrollbar-thumb {
    background: #bbb; 
    border-radius: 10px; 
  }
  
  .scrollDiv::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }
  
  .scrollDiv::-webkit-scrollbar-track {
    background: #f4f4f4; 
    border-radius: 10px;
  }
  

  .scrollDiv {
    scrollbar-width: thin; 
    scrollbar-color: #bbb #f4f4f4; 
  }


@media (max-width:1200px) and (min-width: 945px){
    .formInputStyle{
        width: 300px
    }
    .formTextAreastyle{
        width: 300px;
    }
    .cancelBut{
        width: 147px;
    }
    .doneBut{
        width: 147px;
    }
    .MainimageFit{
        height: 400px;
        width: 500px;
    }
}
@media (max-width:945px) and (min-width:690px){
    .EditLrContainer{
        flex-direction: column;
        align-items: center;
    }
    .contMainSub{
        margin-bottom: 100px;
    }
}
@media (max-width:690px) and (min-width:560px){
    .EditLrContainer{
        flex-direction: column;
        align-items: center;
    }
    .contMainSub{
        margin-bottom: 100px;
    }
    .MainimageFit{
        height: 400px;
        width: 500px;
    }
}
@media(max-width:560px) and (min-width:420px){
    .MainimageFit{
        height: 250px;
        width: 350px;
    }
    .EditLrContainer{
        flex-direction: column;
        align-items: center;
    }
    .contMainSub{
        margin-bottom: 100px;
    }
    .formInputStyle{
        width: 300px
    }
    .formTextAreastyle{
        width: 300px;
    }
    .cancelBut{
        width: 145px;
    }
    .doneBut{
        width: 145px;
    }
    .subImageFit{
        height: 70px;
        width: 80px;
        margin-right: 10px;
    }
    .addsubImage{
        margin-top: -45px;
    }
}
@media(max-width:420px){
    .MainimageFit{
        height: 180px;
        width: 280px;
    }
    .EditLrContainer{
        flex-direction: column;
        align-items: center;
    }
    .contMainSub{
        margin-bottom: 100px;
    }
    .formInputStyle{
        width: 180px
    }
    .formTextAreastyle{
        width: 180px;
    }
    .cancelBut{
        width: 90px;
    }
    .doneBut{
        width: 90px;
    }
    .subImageFit{
        height: 55px;
        width: 65px;
        margin-right: 5px;
    }
    .addsubImage{
        margin-top: -35px;
    }
}