@tailwind base;
@tailwind components;
@tailwind utilities;

.main-div{
  @apply bg-slate-200 h-screen w-screen flex flex-col;
}
::-webkit-scrollbar {
    width: 8px; 
  }
  
::-webkit-scrollbar-thumb {
    background: #bbb; 
    border-radius: 10px; 
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }
  
::-webkit-scrollbar-track {
    background: #f4f4f4; 
    border-radius: 10px;
  }
  

html {
    scrollbar-width: thin; 
    scrollbar-color: #bbb #f4f4f4; 
  }
*{
  transition: 0.2s;
}
