/* Tailwind and Custom Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Families */
.montserrat {
  font-family: "Montserrat", sans-serif;
}

.poppins {
  font-family: "Poppins", serif;
}

.nav-text-hover{
  @apply hover:text-primary-color transition-all;
}
#container {
  scroll-snap-type: y mandatory; 
  overflow-y: scroll; 
  height: 100vh;
  scroll-behavior: smooth;
}

.section {
  @apply flex-col justify-start sm:px-2 h-fit md:flex md:gap-5 md:h-screen md:px-20 lg:px-32 xl:px-40 ; 
  scroll-snap-align: start; /* Snap sections to the start */
}
#container > div > *{
  @apply my-auto;
}
body::-webkit-scrollbar{
  width: 4px;
}
body::-webkit-scrollbar-thumb{
  @apply bg-primary-color;
}

body{
  scroll-snap-type: y mandatory; 
  overflow-y:auto;
  scroll-behavior: smooth;

}

#container::-webkit-scrollbar{
  width: 2px;
}
#container::-webkit-scrollbar-thumb{
  @apply bg-primary-color;
}
* {
  transition: 0.4s;
  scroll-behavior: smooth;
}
